#header-div{
	background:#4c66b0;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 80%;
}

.settings{
	position: static;
}

.settings:hover{
	background: #ABCDEF;
}
span{
	padding: 3px;
}

#button-area{
	background: white;
	color: #4c66b0;
	overflow: hidden;
}

#pickResult{
	margin-right: 7%;
	text-align: center;
	color: black;
}

#main-content{
	width: 30%;
	color:white;
	margin: 0 auto;
	margin-top: 10px;
}

#newColorsBtn{
 	margin-right: 7%;
}

.colorBtn{
	width: 30%;
	padding-top: 30%;
	margin-right: 2.33%;
	background: white;
	float:left;
	margin-top: 10px;
	border-radius: 10px;
}

body{
	text-align:center;
	margin: 0 auto;
	text-transform:uppercase;
	background: black;
}

h3{
	text-align: center;
}

#directions{
	color:white;
	float: left;
	text-align: left;
	width: 20%;
}

#color1{

}

#color2{
	
}

#color3{
	
}

#color4{
	
}

#color5{
	
}

#color6{
	
}